extends ./layout/index

block contenido   
  main.container.mt-5 
    .row  
      .col-md-5
        img(src="img/nosotros.jpg", alt="about us", class="img-fluid")
      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur assumenda minima ut, temporibus voluptatum animi minus delectus distinctio. Laborum delectus accusamus voluptates itaque earum, tenetur necessitatibus maxime repellendus voluptatibus nihil? Libero eveniet impedit placeat saepe quaerat quasi atque laboriosam veritatis aut enim excepturi, officia illum totam tempora ducimus aliquid ex?
        
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatem nobis, consequuntur hic itaque quia laboriosam porro dicta ullam amet.
        
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione rem distinctio molestias harum corrupti, maiores consequatur iure delectus rerum illum?

  .listado-iconos
    .container.mt-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, ab mollitia!
        
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Destino 
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, ab mollitia!
        
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Precios 
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, ab mollitia!
